
.body{
    max-width: 1920px;
}
.mid {
    max-width: 1920px;
    width: 100%;
}

.mid h1{
    display: block;
    color:white;
    background-color: orange;
    text-align: center ;
    height: 40px;
    width: 150px;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 886px;
}

.mid img{
    width: 100%;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 300px;
}

.mid ul{

    
    display: flex;

    /* flex-direction: column; */
    margin: 0 400px;
    justify-content: space-between;
    align-items: center;
    width: 972px;
    height: 600px;
    padding: 50px;

}

.mid li{
   
    margin: 0 0 50px 50px;
    box-sizing: border-box;
}

.p1{
    width: 240px;
    height: 300px;
}

.main_grid{
    background-image: url(/img/pexels-igor-haritanovich-16950522.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    max-width: 1920px;
    width: 100%;
    /* height: auto; */
    background-color: #fff;
    grid-template-rows: 360px 360px 360px;
    grid-template-columns: 640px 640px 640px ;
    z-index: 1;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-size: 28px;
}

.main_grid .chioce1{
    display: block;
    color: #fff;
background-color: rgba(167, 115, 68,.58);
border: 0;
z-index: 0;
grid-column: 1;
grid-row: 1;
border-radius: 50%;
width: 150px;
height: 150px;
font-size: 28px;
    margin: 0 auto;
    margin-top: 150px;
    margin-right: 123px;

}
.main_grid .chioce1 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce2 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce3 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce4 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce5 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce6 a{
    text-decoration:none;
    color: #fff;
}
.main_grid .chioce2{
    font-size: 28px;
    display: block;
    color: #fff;
    background-color: rgba(167, 115, 68,.58);
    border: 0;
    border-radius: 50%;
width: 150px;
height: 150px;
    z-index: 0;
    margin: 0 auto;
    margin-top: 100px;
    grid-column: 1;
grid-row: 2;
    
    }
    .main_grid .chioce3{
        font-size: 28px;
        background-color: rgba(167, 115, 68,.58);
        border: 0;
        color: #fff;
        grid-column: 1;
        grid-row: 3;
        border-radius: 50%;
        width: 150px;
        height: 150px;
            z-index: 0;
            margin: 0 auto;
            margin-top: 100px;
            margin-right: 123px;
        }
        .main_grid .chioce4{
            font-size: 28px;
            background-color: rgba(167, 115, 68,.58);
            border: 0;
            color: #fff;
            border-radius: 50%;
            width: 150px;
            height: 150px;
                z-index: 0;
                margin: 0 auto;
                margin-top: 150px;
                margin-left: 123px;
                grid-column: 3;
                grid-row: 1;

            }
            .main_grid .chioce5{
                font-size: 28px;
                background-color: rgba(167, 115, 68,.58);
                border: 0;
                color: #fff;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                    z-index: 0;
                    margin: 0 auto;
                    margin-top: 100px;
                    grid-column: 3;
                    grid-row: 2;
                }
                .main_grid .chioce6{
                    font-size: 28px;
                    background-color: rgba(167, 115, 68,.58);
                    border: 0;
                    color: #fff;
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                        z-index: 0;
                        margin: 0 auto;
                        margin-top: 100px;
                        grid-column: 3;
                        grid-row: 3;
                        margin-left: 123px;
                    }
                .main_logo{
 
                    grid-column: 2;
                    grid-row: 1;
                    display: block;
                    margin: 0 auto;
                    margin-top: 200px;
                    width: 538px;
                    height: 530px;

                }
                .home_top_img{
                    width: 100%;
                    height: 400px;
                    display: block;
                }    
                
                .swiper{
                    margin-bottom: 1px;
                }
                .swiper  h1{
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: block;
                    color: orange;
                    font-size: 40px;
                }
.swiper .swiper-button-next::after{
    color: white;
    font-size: 16px;
}

.swiper .swiper-button-prev::after{
    color: white;
    font-size: 16px;
}


.swiper-pagination .swiper-pagination-bullet-active{
    background-color: white;
}

    
@media screen and (max-width: 428px) {
    .swiper  h1{
        margin-top: 60px;
    }
    .rwd_logo{
display: block;
    }
    .main_grid{
    
        display: none;
    }
    .main_grid .chioce1{
        display: none;
    }
    .main_grid .chioce2{   display: none;}
    .main_grid .chioce3{   display: none;}
    .main_grid .chioce4{   display: none;}
    .main_grid .chioce5{   display: none;}
    .main_grid .chioce6{   display: none;}
 
}